{% extends 'base.template.html' %}
{% load cloudinary %}
{% load static%}
{%block content %}

<br/>
<br/>
<br/>
<br/>
<h1 class="index-title"><i class="fa fa-shopping-cart" aria-hidden="true" style="color:orange;"></i>      Your Cart</h1>

{% for key, i in shopping_cart.items %}
<div class="container">
<div class="row">
        <div class="col md-3">
        <h4>{{i.item_name}}</h4>
        <br/>
        Price: ${{i.price}}
        <br/>
        </div>
        <div class="col md-9">
            <a class="btn btn-danger btn-sm" href="{% url 'remove_from_cart' DMService_id=i.id %}">Remove</a>
        </div>
        </div>
                    <p>----------------------------------------------</p>
</div>
{%endfor%}

<div class="container">
<div class="row">
<div class="col md-3">
<div class="container">
    <h2 class="index-title">    Total: $<u>{{total}}</u> </h2>
</div>
</div>

<div class="col md-9">
{% if request.user.is_authenticated %}
<a class="btn btn-primary btn-sm" href="{% url 'checkout' %}"><i class="fa fa-shopping-basket" aria-hidden="true" style="color:white;"></i>Checkout</a>
{% endif %}
</div>
</div>
</div>
{%endblock %}