{% extends 'base.template.html' %}

{%block content %}
<h1>Your Cart</h1>
<ul>
    {%for key, i in shopping_cart.items %}
        <li>
            {{i.item_name}}<br/>
            Price: ${{i.price}}
			<form method="POST" action="{% url 'update_quantity' DMService_id=i.id %}">
				{%csrf_token%}
				Quantity:<input name="qty" type="number" value="{{cart_item.qty}}" style="width:60px">
				<input type="submit" class="btn btn-primary btn-sm" value="Update Quantity"/>
			</form>
            <br/>
              <a class="btn btn-danger btn-sm" href="{% url 'remove_from_cart' DMService_id=i.id %}">Remove</a>
            
        </li>
    {%endfor%}
</ul>
{%endblock %}