{% extends "base.template.html" %}

{% block content %}
{% load static%}
<br/>
<!-- !!!! Search Bar  -->
<header class="section-header">
<div class="col-lg-6 col-12 col-sm-12">
    <form action="#" class="search">
        <div class="input-group w-100">
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>
</header>
<!-- !!!! Search Bar  -->

<!-- Jumbotron -->
<section>
<br/>
 <!-- !!! Banner -->
<section class="section-intro padding-y-sm">
	<div class="container">

		<div class="intro-banner-wrap">
			<div style="background-color:red; height:130px; width: 520;"></div>
		</div>
        </br>
        <h2>Products</h2>
	</div> <!-- container //  -->
</section>
 <!-- !!! Banner  -->
</section>
<!-- Jumbotron -->

<section>

        {%for x in DMServices %}
        <li>
        {{x.item_name}} 
        <a href="{% url 'update_dmservice' DMService_id=x.id%}">Edit</a>
        <a href="{% url 'delete_dmservice' DMService_id=x.id%}">Delete</a>
        </li>
        {%endfor%}

<br/>
</section>
<section class="section-content">
<div class="container">

<header class="section-heading">
	<h3 class="section-title">Popular products</h3>
</header><!-- sect-heading -->

<section>
    <div>
        <div class="row">
            <div class="col-md-3">
        {%for x in DMServices %}
                <div href="#" class="card card-product-grid">
                    <a href="#" class="img-wrap"> <img src="images/items/1.jpg"> </a>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">{{x.item_name}} </a>
						<div class="price mt-1">${{x.price}}</div>
                        {% if request.user.is_superuser %}
						<a href="{% url 'update_dmservice' DMService_id=x.id%}">Edit</a>
						<a href="{% url 'delete_dmservice' DMService_id=x.id%}">Delete</a>
                        {% else %}
						<a href="#">Add to cart</a>
						<a href="#">Details</a>
                        {% endif %}
                    </figcaption>
                </div>
            </div> 
        </div> 
        {%endfor%}
    </div> 
</section>
{% endblock %}
