{% extends "base.template.html" %}

{% block content %}
{% load static%}
<h1>TEST</h1>
<h2>Digital Marketing Services to choose from</h2>
        {%for x in DMServices %}
        <li>
        {{x.item_name}} 
        <a href="{% url 'update_dmservice' DMService_id=x.id%}">Edit</a>
        <a href="{% url 'delete_dmservice' DMService_id=x.id%}">Delete</a>
        </li>
        {%endfor%}

<br/>
<!-- Control Line for slider DAServices  -->
<h2>Digital Assets to choose from</h2>
                <div class="row">
                    {%for x in DAServices %}
                     <div class="col-sm-3">
                        <div class="col-item">
                            <!-- <div class="photo">
                                    <img src="{% static 'KangaProject/300.png' %}" class="img-responsive" alt="a" />
                            </div> -->
                             <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>{{x.item_name}}</h5>
                                            <small class="price-text-color">${{x.price}}</small>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Add to cart</a></p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a href="#" class="hidden-sm">More details</a></p>
                                        
                                        {% if request.user.is_superuser %}
                                        <p class="btn-edit">
                                            <i class="fa fa-pencil"></i><a href="#" class="hidden-sm">Edit</a></p>
                                        <p class="btn-delete">
                                            <i class="fa fa-trash-o"></i><a href="#" class="hidden-sm">Delete</a></p>

                                        {% endif %}
                                    </div>
                                    <div class="clearfix">
                                    </div>
                            </div>
                        </div>
                     </div>
                    {%endfor%}
                </div>

{% endblock %}
